<%- include('../layout/dashhead') %>
<%- include('../layout/header') %>


    <style>
        /* Add this CSS to style your form */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

    </style>




    <form action="/admin/addcoupon" method="post">
<p>
    <label for="Couponcode">Coupon Code</label>
    <input type="text" name="couponcode" required>
</p>

<p>
    <label for="discountprice">Discount Price</label>
    <input type="text"  name="discountprice" required>
</p>

<p>
    <label for="minimumprice">Minimum Price</label>
    <input type="text"  name="minimumprice" required>
</p>

<button type="submit">SUBMIT</button>

</form>
                     