<%- include('../layout/header') %>










<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index"><img src="/malefashion-master/images.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./shop">Shop Details</a></li>
                                <li><a href="./shoppingcart">Shopping Cart</a></li>
                                <li><a href="./checkout">Check Out</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>


<div class="container">
    <div class="card">
        <div class="card-header">Change Password:</div>
        <div class="card-body">
            <% 
            if(typeof message !== 'undefined'){ 
                %>
                    <p style="color: green;"><%= message%> </p>
                <%
            }
          %>
            <form action="/changepassword" method="post" onsubmit="return validateChangePasswordForm()">
    <div class="form-group">
        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" required>
        <p class="text-danger" id="password_error" style="display: none;"></p>
    </div>
    <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input type="password" id="confirmNewPassword" name="confirmPassword" class="form-control" required>
        <p class="text-danger" id="password_match_error" style="display: none;"></p>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>

<script>
    function validateChangePasswordForm() {
        const newPassword = document.getElementById('newPassword').value;
        const confirmNewPassword = document.getElementById('confirmNewPassword').value;
        const passwordError = document.getElementById('password_error');
        const passwordMatchError = document.getElementById('password_match_error');

        const passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$/;

        if (!passwordRegex.test(newPassword)) {
            passwordError.textContent = 'Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character.';
            passwordError.style.display = 'block';
            return false;
        } else {
            passwordError.style.display = 'none';
        }

        if (newPassword !== confirmNewPassword) {
            passwordMatchError.textContent = 'Passwords do not match.';
            passwordMatchError.style.display = 'block';
            return false;
        } else {
            passwordMatchError.style.display = 'none';
        }

        return true;
    }
</script>











<%- include('../layout/footer') %>








