<%- include('../layout/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
  
    <!DOCTYPE html>
<html>
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <h2>Enter OTP</h2>
        <form action="/otpenter" method="post">
            <div class="form-group">
                <label for="otp">Enter OTP:</label>
                <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary">resend otp</button>
        </form>
        <% 
        if(typeof message !== 'undefined'){ 
            %>
                <p style="color: rgb(174, 0, 0);"><%= message%> </p>
            <%
        }
      %>
    </div>
</body>
</html>



   
</body>
</html>



<%- include('../layout/footer') %>