<%- include('../layout/header') %>

<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="forgot-password-form">
    <h3 class="text-center mb-4">Forgot Password</h3>

    <form action="/forgotpassword" method="post">
      <div class="form-group">
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-dark btn-block">Submit</button>
    </form>
  </div>
</div>

<%- include('../layout/footer') %>
