
<%- include('../layout/header') %>


<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-3">
          <div class="header__logo">
              <a href="./index"><img src="/malefashion-master/img/logo.png" alt=""></a>
          </div>
      </div>
      <div class="col-lg-6 col-md-6">
      </div>
      <div class="col-lg-3 col-md-3">
      </div>
  </div>
  <div class="canvas__open"><i class="fa fa-bars"></i></div>
</div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->

 
    <section class="vh-100" style="background-color:white">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Login</h3>
      
                <form action="/login" method="post">
                  <div class="form-outline mb-4">
                    <input placeholder="email" type="email" name="email"  id="typeEmailX-2" class="form-control form-control-lg" />
                 
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" placeholder="password" name="password"  id="typePasswordX-2" class="form-control form-control-lg" />
                 
                  </div>
                  <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                 
                </form>
                  <br><br>
                  <div class="form-check d-flex justify-content-center mb-4">
                    <p>Create an account <a href="/register">Register</a></p>
                
                  </div>
      
               
      
                  <hr class="my-4">
                  
                  
                    
                  <!-- <a href="/admin/login" class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                  ><i class="fab fa-google me-2"></i></a> -->



                  
                      <% 
                      if(typeof message !== 'undefined'){ 
                          %>
                              <p style="color: green;"><%= message%> </p>
                          <%
                      }
                    %>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

  <%- include( '../layout/footer') %>
