
<%- include('../layout/header') %>

    <section class="vh-100" style="background-color:rgb(93, 90, 90)">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Login</h3>
      
                <form action="/login" method="post">
                  <div class="form-outline mb-4">
                    <input placeholder="email" type="email" name="email"  id="typeEmailX-2" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="typeEmailX-2">Email</label> -->
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" placeholder="password" name="password"  id="typePasswordX-2" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="typePasswordX-2">Password</label> -->
                  </div>
                  <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  <!-- Checkbox -->
                </form>
                  <br><br>
                  <div class="form-check d-flex justify-content-center mb-4">
                    <p>Create an account <a href="/register">Register</a></p>
                    <!-- <p>or sign up with:</p> -->
                  </div>
      
               
      
                  <hr class="my-4">
                  
                  
                    
                  <!-- <a href="/admin/login" class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                  ><i class="fab fa-google me-2"></i></a> -->



                  
                      <% 
                      if(typeof message !== 'undefined'){ 
                          %>
                              <p style="color: green;"><%= message%> </p>
                          <%
                      }
                    %>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <%- include( '../layout/footer') %>
