<%- include('../layout/header') %>

<!DOCTYPE html>
<html>
<head>
    <title>Registration Success</title>
</head>
<body>
    <h1>Registration Successful!</h1>
    <p>Email: <%= email %></p>
    <p>OTP: <%= otp %></p>
</body>
</html>

<a href="/login">Login here</a>


<%- include('../layout/footer') %>