<%- include('../layout/header') %>

<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="reset-password-form">
      <h3 class="text-center mb-4">Reset Password</h3>

    <form action="/resetpassword/<%= email %>" method="post" onsubmit="return validateResetPasswordForm()">
      <div class="form-group">
        <label for="otp">Enter the OTP sent to your email:</label>
        <input type="text" id="otp" name="otp" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
        <p class="text-danger" id="password_error" style="display: none;"></p>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        <p class="text-danger" id="password_match_error" style="display: none;"></p>
      </div>

      <button type="submit" class="btn btn-info">Submit OTP and Reset Password</button>
    </form>

    <% 
    if(typeof message !== 'undefined'){ 
        %>
            <p style="color: rgb(237, 11, 11);"><%= message%> </p>
        <%
    }
  %>

    <script>
      function validateResetPasswordForm() {
        const otp = document.getElementById('otp').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        const passwordError = document.getElementById('password_error');
        const passwordMatchError = document.getElementById('password_match_error');

        const passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$/;

        if (!passwordRegex.test(password)) {
          passwordError.textContent = 'Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character.';
          passwordError.style.display = 'block';
          return false;
        } else {
          passwordError.style.display = 'none';
        }

        if (password !== confirmPassword) {
          passwordMatchError.textContent = 'Passwords do not match.';
          passwordMatchError.style.display = 'block';
          return false;
        } else {
          passwordMatchError.style.display = 'none';
        }

        return true;
      }
    </script>


<%- include('../layout/footer') %>
