<%- include('../layout/header') %>


<section class="zoom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="zoomable-image-container">
      
                    <img src="/malefashion-master/zoomed_images/your_zoomed_image.jpg" data-zoom-image="/malefashion-master/zoomed_images/your_zoomed_image.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../layout/footer') %>
