<!-- Include Bootstrap JS scripts -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
 
<script src="malefashion-master/js/jquery-3.3.1.min.js"></script>
<script src="malefashion-master/js/bootstrap.min.js"></script>
<script src="malefashion-master/js/jquery.nice-select.min.js"></script>
<script src="malefashion-master/js/jquery.nicescroll.min.js"></script>
<script src="malefashion-master/js/jquery.magnific-popup.min.js"></script>
<script src="malefashion-master/js/jquery.countdown.min.js"></script>
<script src="malefashion-master/js/jquery.slicknav.js"></script>
<script src="malefashion-master/js/mixitup.min.js"></script>
<script src="malefashion-master/js/owl.carousel.min.js"></script>
<script src="malefashion-master/js/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

</body>
</html>