
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>malefashion</title>
    <!-- Include Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <style>
        body {
            background-color: #f8f9fa;
        }
        /* .navbar {
            background-color:black;
        } */
        .table {
            background-color: #ffffff;
        }
        .table th, .table td {
            border-color: #dee2e6;
        }
        .btn-edit {
            background-color: #007bff;
            border-color: #06090c;
        }
        .btn-delete {
            background-color: #007bff;
            border-color: #0e1a26;
        }
     
        .btn-update {
            background-color: #007bff;
            border-color: #03080c;
        }
        
        .z-top {
            z-index: 9999999999;
        }
      
    </style>
</head>
<body>

    <!-- <div id="loader">
        <div class="position-fixed top-0 w-0 h-100 w-100 bg-black d-flex align-items-center justify-content-center z-top">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div> -->
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Male_Fashion Template">
        <meta name="keywords" content="Male_Fashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Male-Fashion</title>
    
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    
        <!-- Css Styles -->
        <link rel="stylesheet" href="/malefashion-master/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/malefashion-master/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/malefashion-master/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/malefashion-master/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/malefashion-master/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/malefashion-master/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/malefashion-master/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/malefashion-master/css/style.css" type="text/css">

      


    </head>